:root {
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #2e2f42;
  --second-text-color-theme-dark: #434455;
  --text-color-blue: #404bbf;
  --text-color-portfolio-button: #f4f4fd;
  --color-button: #e7e9fc;
}

.list {
  list-style: none;
  font-style: normal;
}
.link {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================= HEADER ================= */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-div {
  display: flex;
}

.page-navigation {
  align-items: center;
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-tel {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: var(--second-font-family);
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.span-logo {
  color: var(--primary-text-color-theme-dark);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.menu-link {
  color: var(--primary-text-color-theme-dark);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus {
  color: var(--text-color-blue);
}

.contact-tel-link {
  color: var(--second-text-color-theme-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item {
  gap: 40px;
  padding: 24px 0;
}

/* ================= HERO ================= */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.portfolio-info {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-title {
  left: 472px;
  top: 260px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border: none;
  height: 56px;
}

.btn:hover,
.btn:focus {
  background-color: var(--text-color-blue);
}

/* ================= INFO ================= */

.info {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.work {
  padding-top: 0;
}

.section-info {
  padding: 120px 0 120px;
}

.info-list-li {
  width: calc((100%-72px) / 4);
}

/* ================= ABOUT ================= */
.title {
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about-li {
  display: flex;
  width: calc((100% - 48px) / 3);
}

.about-img {
  display: flex;
  gap: 24px;
}

/* ================= EMPLOYEES =================*/

.employees {
  background-color: #f4f4fd;
  height: 732px;
}

.employees-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.employees-img {
  display: flex;
  gap: 24px;
}

.employees-list-name {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.employees-list-position {
  color: var(--second-text-color-theme-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.employees-list-text {
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  padding: 32px 16px;
}

.img {
  width: 360;
  height: 300;
}

.img-team {
  width: 264px;
  height: 260px;
}

/* ================= FOOTER =================*/
.footer-list {
  background-color: var(--primary-text-color-theme-dark);
  padding: 100px 0;
}

.footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
}

.span-logo-footer {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

/* ================= Portfolio =================*/
/* ================= Portfolio =================*/
/* ================= Portfolio =================*/

.info-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button {
  background-color: var(--text-color-portfolio-button);
  color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: var(--main-font-family);
  border-radius: 4px;
  border: 1px solid var(--color-button);
  justify-content: center;
  display: flex;
  padding: 12px 24px;
  flex: none;
}

.button:hover,
.button:focus {
  background-color: var(--text-color-blue);
  color: white;
  border: 1px solid transparent;
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 75px;
  row-gap: 48px;
}

.img-li {
  width: calc((100% - 48px) / 3);
}

.list-text-img {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-header {
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-paragraph {
  color: var(--second-text-color-theme-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
